<h1>Мои заявки</h1>
<a href="{% url 'personalarea'%}">Личный кабинет</a><br>
<a href="{% url 'base'%}">Главная страница</a><br>
<a href="{% url 'application'%}">Просмотр заявок</a><br>
{% if application %}
    {% for i in application %}
        <h3>{{ i.name }}</h3>
        <p>{{ i.date }}</p>
        <p>{{ i.description }}</p>
        <p>{{ i.category }}</p>
        <p>{{ i.status }}</p>
         <img src="{{ i.photo_file.url}}" width="400px", height="350px"><br>
<a href="{% url 'application_confirm_delete' i.id %}">Удалить</a><br><br>
    {% endfor %}
 {% else %}
    <p>У вас нет заявок</p>
{% endif %}